<header class="text-gray-600 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5  flex-col md:flex-row items-center justify-between"
  >
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-3 md:mb-0"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
        viewBox="0 0 24 24"
      >
        <path
          d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
        ></path>
      </svg>
      <span class="ml-3 text-xl">CGPA App</span>
    </a>

    <button
      class=" inline-flex items-center justify-center bg-gray-100 border-0 py-2 px-4 focus:outline-none hover:bg-indigo-500 transition-all duration-100 hover:text-slate-50 rounded text-base mt-2 md:mt-0"
    >
      <a [routerLink]="['/portfolio']">Get Started</a>
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-6 h-6 ml-1 animate-bounce"
        viewBox="0 0 24 24"
      >
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
