<nav class="bg-sky-700 p-3 text-white flex justify-around">
  <span class="text-white font-bold text-2xl">
    <a [routerLink]="['']" routerLinkActive="router-link-active">
      <svg
        width="800px"
        height="800px"
        stroke="currentColor"
        viewBox="0 0 24 24"
        fill="none"
        class="w-16 h-10 ml-1 animate-backward  text-white"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.02686 11.9928L5.2623 16.2426L6.67889 14.8308L4.85754 13.0032L22.9729 13.0011L22.9727 11.0011L4.85297 11.0032L6.68848 9.17392L5.27665 7.75732L1.02686 11.9928Z"
        />
      </svg>
    </a>
  </span>
  <div class="text-2xl font-mono font-bold">GPA Calculator</div>
  <div class=""></div>
</nav>
